/Accommodation-Application/nbproject/private/
/Accommodation-Application/dist/
/Accommodation-Application/build/
/Accommodation-Application/out/
/Class Diagram.asta.lock
/UseCase Diagram.asta.lock
/Sequence Diagrams.asta.lock
/~$ile Practices.docx